<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro - Inscripciones</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body>
    <div class="container">
        <h1>Centro de Formación - Sistema de Inscripción</h1>

        <div class="botones">
            <a class="btn" href="/agregar">Formulario de Registro</a>
            <a class="btn" href="/ver">Ver listado de socios</a>
            <a class="btn" href="/export/csv">Exportar CSV</a>
            <a class="btn" href="/export/txt">Exportar TXT</a>
        </div>
    </div>
</body>
</html>